<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Claims</title>
		<link rel="stylesheet" type="text/CSS" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
	
	<body style="background: #89c0ec;">
	
	<div class="container-fluid text-center">
		<div><h2>Management Claims</h2></div>
		
	</div>
	<div class="container-fluid text-right">
		<th:block th:each="claim1 : ${dpndt}"> 
				<input type="hidden" th:field="*{customerId}" th:value="${claim1.customers.customerId}"/>
		</th:block>
		<a style="background-color: #f8f9fa; font-size: 2rem; border-radius: 1rem; margin: 1rem; 
	        box-shadow: 1rem 1rem 0.5rem lightblue; padding: 1rem; text-decoration:none;" 
			th:href="@{'/claim/new/'+${customerId}}">New Claim</a>
	</div>
	<div th:if="${message}" class="alert alert-success text-center">
	[[${message}]]
	</div>
	<br><br>
	
	<div class="container-fluid text-center table-responsive">
		<table class="table table-bordered table-striped table table-hover">
			<thead class="thead-dark">
			<tr>
				<th style="width:10rem">Claim Number</th>	
				<th style="width:75rem">Description</th>
				<th style="width:10rem">Claim Active</th>	
				<th></th>						
			</tr>
			</thead>
			<tbody>
				<th:block th:each="claim : ${dpndt}"> 
				<input type="hidden" th:field="*{customerId}" th:value="${claim.customers.customerId}"/>
				<tr>
					<!--  <td>[[${claim.customers.customerId}]]</td> -->
					<td>[[${claim.claimId}]]</td> 
					<td>[[${claim.ClaimDescription}]]</td>
					<td><input type="checkbox"  th:checked="${claim.claimActive}" disabled/></td>
					<td>
						<a style="background-color: #f8f9fa; font-size: 1rem; border-radius: .2rem; margin: .2rem; 
	        				box-shadow: 0.1rem 0.1rem 0.5rem lightblue; padding: .5rem; text-decoration:none;" 
							th:href="@{'/claim/edit/' + ${claim.claimId}+'/'+${claim.customers.customerId}}">Edit</a>

						<a style="background-color: #f8f9fa; font-size: 1rem; border-radius: .2rem; margin: .2rem; 
	        				box-shadow: 0.1rem 0.1rem 0.5rem lightblue; padding: .5rem; text-decoration:none;"  
							th:href="@{'/Documents/new/' +${claim.claimId}}">Upload Files</a> 
							
						<!-- th:href="@{/Documents}">Upload Files</a>  -->
					</td>
				</tr>	
				</th:block>
			</tbody>
		</table>
	</div>
	<div>
		<button type="button" class="btn btn-secondary m-4" onclick="cancelForm()">Exit</button>
	</div>
			<script type="text/javascript">
			function cancelForm() {
				window.location="[[@{/customers}]]";
			}
		</script>		
	</body>
</html>