<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Management customers</title>
	<link rel="stylesheet" type="text/CSS" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body style="background: #89c0ec;">

	<div class="container-fluid text-center">
		<div><h2>Management Customers</h2></div>
	</div>
	<div class="container-fluid text-right">
	<!--  class="h3" -->
		<a style="background-color: #f8f9fa; font-size: 2rem; border-radius: 1rem; margin: 1rem; 
	        box-shadow: 1rem 1rem 0.5rem lightblue; padding: 1rem; text-decoration:none;"  
			th:href="@{/customers/new}">New Customer</a>
	</div>
	<div th:if="${message}" class="alert alert-success text-center">
	[[${message}]]
	</div>
	<br><br>
	<div class="container-fluid text-center table-responsive">
		<form th:action="@{/customers}">
			<div class="form-group row">
				<!--  
				<div class="col-sm-4 text-left" >
					<label class="col-sm-4 col-form-label">Filter by First or Last Name:</label>
					<input id="txtsearh" type="text" name="keyword" class="from-control"/>
					<!--  <button type="button" class="btn btn-secondary m-2">Search</button> --
					
				</div>
				-->
			</div>
			<!--  <label>Filer by Fisrt Name or Last Name</label>
			<input id="txtsearh" type="text" name="keyword">
			-->
		</form>
		<table class="table table-bordered table-striped table table-hover " id="customerTable"> 
			<thead class="thead-dark">
			<tr>
				<!-- <th>Customer ID</th>  -->
				<!--  <th><a th:href="@{'/' + ${currentPage} +'/'+ '?sort-field=firstName&sort-dir=' + ${reverseSortDir}}">First name</a></th>  
				<th>
					<a th:href="@{'/customers/'+ '?sort-field=firstName&sort-dir=' + ${reverseSortDir}}">First name</a>
				</th> -->
				<th>First Name</th>	
				<th>Middle Name</th>	
				<th>Last Name</th>
				<th>Email Address</th>
				<th>Phone Number</th>
				<th>Customer Active</th>	
				<th></th>						
			</tr>
			</thead>
			<tbody>
				<th:block th:each="customer : ${lstcstmrs}">
				<tr>
					<!--  <td>[[${customer.customerId}]]</td> -->
					<td>[[${customer.firstName}]]</td>
					<td>[[${customer.middleName}]]</td>
					<td>[[${customer.lastName}]]</td>
					<td>[[${customer.email}]]</td>
					<td>[[${customer.phoneNumber}]]</td>
					<td><input type="checkbox"  th:checked="${customer.enrolled}" disabled/></td>
					<td>
						<a style="background-color: #f8f9fa; font-size: 1rem; border-radius: .2rem; margin: .2rem; 
	        				box-shadow: 0.1rem 0.1rem 0.5rem lightblue; padding: .5rem; text-decoration:none;"
						    th:href="@{'/customers/edit/' + ${customer.customerId}}">Edit</a>
						<!--  
						<a class="h5 mr-3" th:href="@{'/customers/delete/' + ${customer.customerId}}">Delete</a>
						-->
						<a style="background-color: #f8f9fa; font-size: 1rem; border-radius: .2rem; margin: .2rem; 
	        				box-shadow: 0.1rem 0.1rem 0.5rem lightblue; padding: .5rem; text-decoration:none;" 
						 th:href="@{'/claim/' + ${customer.customerId}}">Claims</a>
						
					</td>
				</tr>	
				</th:block>
			</tbody>
		</table>
	</div>
	<div>
		<button type="button" class="btn btn-secondary m-4" onclick="cancelForm()">Exit</button>
	</div>
			<script type="text/javascript">
			function cancelForm() {
				window.location="[[@{/}]]";
			}
		</script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#customerTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
		
			
</body>
</html>