<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>[[${pageTitle}]]</title>
		<link rel="stylesheet" type="text/CSS" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
	<body style="background: #89c0ec;">
		<div class= "container-fluid text-center">
			<h1>[[${pageTitle}]]</h1>
			<h2>[[${claimId}]]</h2>
			<!--  
			<th:block th:each="claim1 : ${dpndt}"> 
				<input type="hidden" th:field="*{claimId}" th:value="${claim1.claims.claimId}"/>
			</th:block>
			-->
		</div>

		
		<form th:action="@{'/Document/save/'+${claimId}}" th:object="${lstdocs}" method="post"  enctype="multipart/form-data" 
					
					style="background-color: #f8f9fa; 
					max-width: 40%; 
					margin: 0 auto; 
					box-shadow: 1.5rem 1.5rem .1rem lightblue; 
					padding: .5rem;
					border-radius: 1rem;">
			<div >
				<h3>Upload your files</h3>
				<div>
					  <th:block th:each="doc : ${lsdocs}">
						<!--  <input type="hidden" th:field="*{claimsnum}" th:value="${doc.claimsnum.claimId}"/> -->
					</th:block>  
				</div>

				<div class="row border rounded">
					<th:block th:each="docs : ${lstdocs}">

						<div>
							<div class="col">
								<div> <img th:src="@{/images/file_icon.png}" width="50rem"/></div>
								<a th:href="@{'/download?docuemntId=' +${docs.documentId}}">[[${docs.documentName}]]</a>
							</div>
							<div>
								([[${#numbers.formatInteger(docs.documentSize, 4, 'COMMA')}]]  bytes)
							</div>
						</div>
						<!--  <input type="hidden" th:field="*{claimsnum}" th:value="${docs.claimsnum.claimId}"/> -->
					</th:block>
				</div>

				<div>
					<p>
						<input type="file" name="document" required class="btn btn-primary">
					</p>
	
					<p>
						<input type="submit" value="Upload" class="btn btn-primary">
						<button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
					</p>
				</div>
				<!-- 
					<div  style="display: none;" class="form-group row">
						<label class="col-sm-4 col-form-label">Customer:</label>
						<!--<div class="col-sm-8">   style="display: none;"   
						<div >
							<select th:field="*{claimsnum}" class="from-control " th:disable=true>
								<th:block th:each="cla :${lstclaims}">
									
									<option th:text="${cla.claimId}+' '+${cla.ClaimDescription}" th:value="${cla.claimId}" th:disable=true/> 

								</th:block>
							</select>
						</div>
					</div>	
				 -->
				
				
			</div>
		</form>
				<script type="text/javascript">
			function cancelForm() {

				window.location="[[@{/}]]";
			}
		</script>
	</body>
</html>