<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>[[${pageTitle}]]</title>
		<link rel="stylesheet" type="text/CSS" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
	<body>
		<div class= "container-fluid text-center">
			<h1>[[${pageTitle}]]</h1>
			<!--  <th:block th:each="claim1 : ${dpndt}"> 
				<input type="hidden" th:field="*{claimId}" th:value="${claim1.customers.customerId}"/>
			</th:block>  -->
		</div>
		<form th:action="@{/Document/save}" method="post" enctype="multipart/form-data" 
					style="background-color: #f8f9fa; 
					max-width: 40%; 
					margin: 0 auto; 
					box-shadow: 1.5rem 1.5rem .1rem lightblue; 
					padding: .5rem;
					border-radius: 1rem;">
			<div >
				<h3>Upload your files</h3>
				<p>
					<input type="file" name="document" required>
				</p>
				<p>
					<input type="submit" value="Upload" class="btn btn-primary">
					<button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
				</p>
			</div>
		</form>
				<script type="text/javascript">
			function cancelForm() {

				window.location="[[@{/}]]";
			}
		</script>
	</body>
</html>